################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dijitalya/v17
/.vs/Dijitalya/FileContentIndex
